<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Enter credentials</title>
</head>

<body>
    <form method="POST" action="/${sInstanceId}?done=true">
        <table border="0">
        #if ($ask_username)
            <tr>
                <td align="right">$username_prompt</td>
                <td><input type="text" name="username" value="$default_username"/></td>
            </tr>
        #end
            
            <tr>
                <td align="right">$password_prompt</td>
                <td><input type="password" name="password" value="$default_password"/></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
