<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
    <xsl:template match="/">
        <results>
            <xsl:apply-templates select="//*"/>
        </results>
    </xsl:template>

    <xsl:template match="*">
        <xsl:if test="name()='$tag'">
            <xsl:copy-of select="."/>
        </xsl:if>
    </xsl:template>
</xsl:stylesheet>