<html>
<head>
<title>$title</title>



<body>

<img src="public/resources/system/logo-meandre.gif">
<br/>


<!-- TODO

  still need to migrate a few variables from here to the controlling meandre component
  
-->

<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
  codebase="http://macromedia.com/cabs/swflash.cab#version=4,0,0,0"   
  ID=flaMovie WIDTH=600 HEIGHT=400>
  <PARAM NAME=movie VALUE="flaMovie.swf">
  <PARAM NAME=quality VALUE=medium>
  <PARAM NAME=bgcolor VALUE=#99CC33>
  <EMBED SRC="/public/resources/$swf" 
    FLASHVARS="url=$dataUrl
            &fieldX=$fieldX
            &fieldY=$fieldY
            &nodeNameField=concept
            &nodeNames=$nodeNames
            &defaultValue=0
            &visTitle=$title
            &titleX=Paragraph Number
            &titleY=Emotion Percentage
            &legendTitle=Emotions"
    BGCOLOR=#FFFFFF WIDTH=540 HEIGHT=350 
    TYPE="application/x-shockwave-flash">
  </EMBED>
</OBJECT>

</body>
</html>