<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
#set( $title = $_userMap.get("title") )
#if( $title )
<title>$title</title>
#end
<style type="text/css">
    table {
        font: 80% Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        text-align: left;
        border-collapse: collapse;
        border: 1px solid #666666;
        border-top: none;
    }
    table a {
        text-decoration: underline;
    }
    table a:visited {
        text-decoration: none;
    }
    tr.odd {
        background-color: #ebf3ff;
    }
    tr a {
        color: #000000;
    }
    tr:hover a {
        color: #ffffff;
    }
    tr:hover, tr.odd:hover {
        background-color: #3d80df;
        color: #ffffff;
    }
    caption {
        height: 45px;
        line-height: 44px;
        color: #60634E;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: -1px;
        background-position: 50% top;
        border-left: 2px solid #616161;
        border-right: 2px solid #616161;
    }
    thead th {
        font-size: 105%;
        color: #000;
        height: 33px;
    }
    tr {
        vertical-align: top;
    }
    tr,th,td {
        padding: .75em;
    }
    td {
        border-left: 1px solid #dadada;
    }
    tfoot td, tfoot th{
        color: #000;
        border: 0px;
    }
</style>
</head>
<body>
    <table>
        <thead>
        <tr>
            #foreach( $attr in $_tuples.keySet() )
            <th>$attr</th>
            #end
        </tr>
        </thead>

        <tbody>
        #set( $count = $_tuplesCount - 1 )
        #foreach( $i in [0..$count] )
        <tr>
            #foreach( $tuple in $_tuples.entrySet() )
            <td>${tuple.getValue().get($i)}</td>
            #end
        </tr>
        #end
        </tbody>
    </table>
</body>
</html>