<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head></head>
<body>
    <h1>Readability Analysis</h1>
    <strong><a href="$FLESCH_KINCAID_WIKIPEDIA_URL">Flesch-Kincaid Readability Test</a></strong>

    #foreach( $doc in $fleschDocs )
    <h2><a href="${doc.getLocation()}">${doc.getTitle()}</a></h2>
    <table>
        <tr>
            <td>Total Syllables</td>
            <td>${doc.getMeasure().getSyllables()}</td>
        </tr>

        <tr>
            <td>Total Words</td>
            <td>${doc.getMeasure().getWords()}</td>
        </tr>

        <tr>
            <td>Total Sentences</td>
            <td>${doc.getMeasure().getSentences()}</td>
        </tr>

        <tr>
            <td>Flesch Reading Ease Score</td>
            #set( $fres = $Math.round(${doc.getMeasure().getReadingEaseScore()}) )
            <td>$fres</td>
        <tr>

        <tr>
            <td>Flesch Grade Level</td>
            #set( $fgl = $String.format('%.1f', ${doc.getMeasure().getGradeLevel()}) )
            <td>$fgl</td>
        </tr>
    </table>

    <br>
    #end
</body>
</html>
