<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head></head>
<body>
    <iframe id="htmlFrame" src="$htmlLocation" width="100%" frameborder="1" marginheight="0" marginwidth="0">
        Your browser does not support frames!
    </iframe>

    <br>

    <div style="margin-left:auto; margin-right:auto; text-align:center;">
        <button type="button" onClick="location.href='/$ccp.getExecutionInstanceID()/?done=true'">DONE</button>
    </div>

    <script type="text/javascript">
        function resizeIframe() {
            var height = document.documentElement.clientHeight;
            height -= document.getElementById('htmlFrame').offsetTop;

            // not sure how to get this dynamically to account for the DONE button height
            height -= 60;

            document.getElementById('htmlFrame').style.height = height + "px";
        };

        window.onresize = resizeIframe;
        resizeIframe();
    </script>
</body>
</html>
