<!DOCTYPE html>
<html>
<body>
##-----------------------------------------------------------------
## Add commas in a comma separated list to all items but the last
## Param: $index - pass in $velocityCount
## Param: $list  - pass in your velocity list variable
##-----------------------------------------------------------------
#macro(commaIfNeeded $index $list)
#set ( $lastone = $list.size() - 1 )
#if( $index <= $lastone ),
#else

#end
#end
<script type="text/javascript">
    function createIframe(src, width, height) {
        var iframe = document.createElement('iframe');
        iframe.setAttribute('src', src);
        iframe.setAttribute('width', width);
        iframe.setAttribute('height', height);
        iframe.setAttribute('frameborder', 0);
        iframe.setAttribute('marginwidth', 0);
        iframe.setAttribute('marginheight', 0);
        iframe.innerHTML = 'Your browser does not support frames!';

        return iframe;
    }

    var sz =  Math.floor(window.innerWidth / $columns);
    var docs = [
        #foreach( $src in $htmlDocs ) '$src'#commaIfNeeded( $velocityCount $htmlDocs )#end
    ];

    for (var i in docs)
        document.body.appendChild(createIframe(docs[i], sz, sz));
</script>
</body>
</html>
