<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<style>
.scrollable {
width: 150px;
height: 450px;
overflow: auto;
}
</style>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<title>Google Map Viewer</title>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=$google_maps_api_key" type="text/javascript">
</script>

<script type="text/javascript">
function myclick(i) {
GEvent.trigger(gmarkers[i], "click");
}

function toggleVisibility(me){
var child = me.childNodes.item(1);
if (child.style.display=='none'){
child.style.display='';
}
else {
child.style.display='';
//child.style.display='none';
}
}

var lat = new Array();
var lon = new Array();
var loc  = new Array();
var cxt   = new Array();

#set($index = 0)
#foreach ($location in $locations)
lat[$index] = $location.getLatitude();
lon[$index] = $location.getLongitude();
loc[$index] = "$location.getPlaceName()";
cxt[$index] = "$location.getMarkerInfo()";
#set( $index = $index + 1 )
#end

var side_bar_html = "";
var gmarkers = [];

function initialize() {
for(var i=0; i<loc.length-1; i++) {
var min = i;
for(var j=i+1; j<loc.length; j++) {
	if(loc[min]>loc[j])
		min = j;
}
var tmp = loc[i];
loc[i] = loc[min];
loc[min] = tmp;

tmp = lat[i];
lat[i] = lat[min];
lat[min] = tmp;

tmp = lon[i];
lon[i] = lon[min];
lon[min] = tmp;

tmp = cxt[i];
cxt[i] = cxt[min];
cxt[min] = tmp;
}

if (GBrowserIsCompatible()) {
var map = new GMap2(document.getElementById("map_canvas"));
var bounds = new GLatLngBounds();
map.setCenter(new GLatLng(0,0),0);
map.addControl(new GSmallMapControl());
map.addControl(new GMapTypeControl());

function createMarker(point, index) {
var marker = new GMarker(point);
GEvent.addListener(marker, "click", function() {
var maxContent = cxt[index];
var str = '<b>'+loc[index]+'</b>';
marker.openInfoWindowHtml('<b>'+loc[index]+'</b>', {maxContent:maxContent, maxTitle:str});
});
return marker;
}

for (var i=0; i<loc.length; i++) {
var latlng = new GLatLng(lat[i], lon[i]);
bounds.extend(latlng);
var marker = createMarker(latlng, i);
gmarkers.push(marker);
map.addOverlay(marker);
side_bar_html = side_bar_html.concat('<a href="javascript:myclick(' + i + ')">' + loc[i] + "<\/a><br>");
}
map.setZoom(map.getBoundsZoomLevel(bounds));
map.setCenter(bounds.getCenter());
document.getElementById("side_bar").innerHTML = side_bar_html;
}
}
</script>
</head>

<body onload="initialize()">
<div align="center">
<table border=1>
<tr>
<td>
<div id="map_canvas" style="width: 800px; height: 450px"></div>
</td>
<td width=150 valign="top" style="text-decoration: underline; color:#4444ff;">
<div id="side_bar" class="scrollable"></div>
</td>
</tr>
</table>
</div>
</body>
</html>