<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>Google Map Viewer</title>
<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
    .scrollable {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=$key&sensor=false"></script>
<script type="text/javascript">
    var lat = $lat_list;
    var lon = $lon_list;
    var loc = $loc_list;
    var cxt = $ctx_list;

    var sidebar_html = "";
    var markers = [];

    function raiseMarkerClick(markerIndex) {
        google.maps.event.trigger(markers[markerIndex], 'click');
    }

    function createMarker(title, content, latlng, map) {
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: title
        });

        var infowindow = new google.maps.InfoWindow({
            content: content
        });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });

        return marker;
    }

    function initialize() {
        var mapOptions = {
            mapTypeId: google.maps.MapTypeId.$map_type
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var bounds = new google.maps.LatLngBounds();
        for (var i = 0; i < loc.length; i++) {
            var latlng = new google.maps.LatLng(lat[i], lon[i]);
            bounds = bounds.extend(latlng);
            var content = "<div><p><strong>" + loc[i] + "</strong></p><p>" + cxt[i] + "</p></div>";
            var marker = createMarker(loc[i], content, latlng, map);
            markers.push(marker);
            sidebar_html = sidebar_html.concat("<a style='cursor:hand;' href='javascript:raiseMarkerClick(" + i + ")'>" + loc[i] + "</a><br>");
        }

        map.fitBounds(bounds);
        map.setCenter(bounds.getCenter());

        document.getElementById("side_bar").innerHTML = sidebar_html;
    }
</script>
</head>
<body onload="initialize()">
    <table border="1" style="height:100%;">
        <tr style="height:100%;">
            <td style="width:100%; height:100%;"><div id="map_canvas"/></td>
            <td style="vertical-align:top; width:150px; height:100%; text-decoration: underline; color:#4444ff;">
                <div id="side_bar" class="scrollable"/>
            </td>
        </tr>
    </table>
</body>
</html>
